@import "./variables.module";
.cover{
width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // filter: brightness(65%);
  position: fixed;


}

.landingHeader{
  font-size: 3rem;
  text-align: center;
}

.landingDescription{
  font-size: 2rem;
    text-align: center;
}