@import "./variables.module";

.header {
  color: black;
}

.outContact {
  min-height: 100vh;
  padding-top: 1px;
  background: url("../../images/site2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: center;
  align-items: center;
}

.contactform {
  opacity: 0;
  background-color: #13242b;
  color: white;

  width: 80%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    width: 90%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }

  max-width: 1000px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: auto;
  margin-top: 30vh;
  min-height: 500px;
  border-radius: 5px;
}

.input,
.inputMessage {
  border: 1px solid black;
  display: block;
  margin-bottom: 1rem;
  margin: auto;
  width: 80%;
  height: 2.5rem;
  margin-top: 1.2rem;
  font-size: 1.3rem;
  padding-left: 10px;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.inputMessage {
  height: 8rem;
  resize: none;
}

.input::placeholder,
.inputMessage::placeholder {
  color: lightgray;
  font-family: Arial;
  font-size: $text;
  font-family: Poppinsreg;
}

.inputButton:hover {
  background-color: lightgrey;
}

.hidden {
  display: none;
}

.labelContainer {
  text-align: center;
  color: $themecolour;
  margin: auto;
  padding-top: 40px;
  display: block;
}

label {
  width: 100%;
}

.contactTitle {
  text-align: center;
  margin-bottom: 20px;
  color: $themecolour;
  font-size: $title;
  padding-top: 40px;
  font-family: Poppinsbold;
}

.infoDescription {
  font-size: $text;
  font-family: Poppinsreg;
  text-align: center;
  font-size: 1.3rem;
  padding-top: 2rem;
  padding: 10px;
}

.formButton {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.inputButton {
  color: white;
  height: 3rem;
  width: 100px;
  background-color: $themecolour;
  border-radius: 12px;
  font-size: $text;
  font-family: Poppinsreg;
}

.fadein {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.title {
  padding-top: 50px;
  text-align: center;
  font-size: $title;
  font-family: Poppinsbold;
  margin: auto;
}

.contactform2 {
  opacity: 1;
  background-color: #13242b;
  color: white;

  width: 80%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    width: 90%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }

  max-width: 1000px;

  margin: auto;
  margin-top: 30vh;
  min-height: 500px;
  border-radius: 5px;
}

.description {
  padding-top: 50px;
  text-align: center;
  font-size: $text;
  font-family: Poppinsreg;
}
