@import "./variables.module";
.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #080d0e;
  display: flex;
  justify-content: space-evenly;
  @media (max-width: 768px) {
    display: block;
  }
}
.title {
  color: red;
}

.footerlogo {
  width: 100px;
}

.footerTitle {
  font-family: Poppinsreg;

  color: $themecolour;
  font-size: $title;
  text-align: center;
  @media (max-width: 768px) {
    padding-top: 30px;
  }
}

.footerContent {
  font-family: Poppinsreg;

  font-size: $text;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}
.socials {
  display: flex;
  justify-content: space-evenly;
}

.fblogo {
  text-align: center;
  background-color: white;
  color: #3c5998;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  border-radius: 30px;
}

.fbinsta {
  color: #b73284;
  font-size: 3rem;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  margin: auto;
}
