@import "./variables.module";

.cover {
  width: 100%;
  height: calc(30vh - 95px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  filter: brightness(75%);
  position: fixed;
  z-index: -2;
  margin-top: -112px;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #13242b;
}

.title {
  font-family: Poppinsbold;
  font-size: $text;
  font-size: $title;
  text-align: center;
  color: $themecolour;
  margin-bottom: 40px;
}

.imgContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  max-width: 1000px;
  margin: auto;
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.img {
  padding: 10px;

  margin: auto;
}
