@import "./variables.module";
.cover {
  width: 100%;
  height: calc(100vh + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // filter: brightness(65%);
  position: fixed;
  z-index: -2;
  padding-top: -112px;
  margin-bottom: -5px;
}

.title,
.lead {
  width: 80%;
  margin: auto;
  font-family: ProxReg;
  text-align: center;
  margin-bottom: 2rem;
}
.lead {
  font-size: $text;
  line-height: 1.6rem;
}

.title {
  font-weight: 500;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: $title;
}
.test {
  font-size: $text;
  color: $colorred;
}
.lead {
  padding-top: 2rem;
}

.landingHeader,
.landingDescription {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  max-width: 1000px;
  width: 80%;
  margin: auto;
}
.landingDescription {
  color: white;
  font-size: 2.5rem;
  padding-top: 50px;
  font-family: Poppinsreg;
  @media (max-width: 769px) {
    display: none;
  }
}

.landingHeader {
  color: white;
  font-size: 4rem;
  display: block;
  margin-top: 30vh;
  font-family: Poppinsbold;
}

.aboutSummary {
  background-color: #0b1315;
  padding-top: 100px;
  padding-bottom: 80px;
}

.storyContainer {
  text-align: center;
  color: white;
  font-family: Poppinsreg;
}
.contentAbout {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  line-height: 2.5rem;
  font-size: $text;
  font-family: Poppinsreg;
}

.leadingHeader {
  font-size: $titlesecondary;
}
.leadingTopic {
  margin-top: 20px;
  font-size: $title;
  color: $themecolour;
  margin-bottom: 20px;
  font-family: Poppinsreg;
}

.consumablesContainer {
  font-family: Poppinsreg;

  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  @media (max-width: 768px) {
    display: block;
  }
  margin: auto;
  text-align: center;
}
.foodContainer,
.drinkContainer {
  margin: auto;
  color: white;
  text-align: center;
  width: 80%;
  @media (max-width: 768px) {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.foodContainer p,
.drinkContainer p {
  margin: auto;
  color: white;
  font-size: $text;
  line-height: 2.5rem;
}
.imageContainer {
  text-align: center;
  width: 60%;
  margin: auto;
}
.content {
  width: 60%;
  margin: auto;
  line-height: 2.5rem;
  font-size: 18px;
}

.coffee {
  padding: 1px;
}
