@import "./variables.module";

.cover {
  width: 100%;
  height: calc(30vh - 95px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  filter: brightness(75%);
  position: fixed;
  z-index: -2;
  margin-top: -112px;
}


.aboutContainer{
  background-color:#13242B ;
  padding-top: 20px;
  padding-bottom: 80px;
}
.title{
  color:$themecolour;
  font-size: 2.8rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 8rem;
}
.subtitle {
  padding-bottom: 2rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}
.subtitle2{
padding-bottom: 2rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top:3rem;
}
.content{
  margin: auto;
  color:white;
  text-align: center;
  width: 80%;
  max-width: 1000px;
  padding-bottom:30px;
}

.menuContainer{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    
      }
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
}

.item{
  padding-top: 20px;
  color:$themecolour;
}
.price{
  color:white
}

.description{
  color:white;
  width:70%;
  margin: auto;
}

.menuTemplateContainer{
  max-width: 1000px;
  margin: auto;
}