@import "./variables.module";

.cover {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: -2;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingHeader {
  display: block;
  color: $themecolour;
  font-size: $title;
  font-family: Poppinsbold;
  text-align: center;
  padding-bottom: 80px;
  margin: auto;
}

.landingDescription {
  color: white;
  font-size: $text;
  font-family: Poppinsreg;
  text-align: center;
}
